@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* For Chrome, Safari, Edge, and other WebKit browsers */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    @apply appearance-none;
  }

  /* For Firefox */
  input[type="number"] {
    @apply appearance-none;
    -moz-appearance: textfield;
  }
}

:root {
  --primary-color: #ffd964;
  --secondary-color: #facc15;
  --tertiary-color: #334155;
  --d-green: #4caf50;
}

* {
  box-sizing: border-box;
}

html,
#root {
  min-height: 80svh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.input-container {
  @apply flex w-full items-center justify-center gap-3 border-b border-tertiary p-1 px-3 font-sans text-[4.5vw] text-tertiary sm:text-base;
  > input {
    @apply w-[80%] border-none text-inherit outline-none placeholder:text-tertiary;
  }
}

.otpboxes {
  @apply flex w-full justify-between sm:mx-auto;
  > input {
    @apply h-[11vw] w-[11vw] cursor-auto appearance-none rounded-lg border-none bg-[#ffd86484] text-center text-[5vw] outline-1 outline-tertiary focus:bg-secondary focus:outline sm:h-[2.5rem] sm:w-[2.5rem] sm:text-lg;
  }
}

.shake {
  animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.input-container_2 {
  > label {
    @apply text-[4vw] font-bold sm:text-base;
  }
  > input {
    @apply w-full rounded-md border-2 bg-slate-100 p-[1.2vh] text-[4.5vw] font-normal text-inherit placeholder:text-tertiary;
  }
}

@media screen and (min-width: 640px) {
  .input-container_2 {
    > input {
      @apply p-2 text-base;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.inner-shadow {
  box-shadow: inset 0px 3px 3px 2px #33415541;
}

.custom-shadow {
  filter: drop-shadow(0px 5px 3.5px rgba(0, 0, 0, 0.542));
}
.custom-shadow-2 {
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.37));
}

/* header {
  transition:
    top 0.5s ease-in-out,
    grid-template-rows 0.2s,
    background 0.2s;
  grid-template-rows: 1fr auto auto;
} */
::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(100%);
}

.bottom-navbar {
  transition: bottom 0.5s;
  > .slider {
    transition: all 0.2s;
  }
}
/* #apply-c {
  transition: bottom 0.5s;
} */

.active {
  @apply !fill-black !text-black;

  span.p {
    @apply !block;
  }

  span.absolute {
    @apply !hidden;
  }
}
.ef-g {
  transition: all 0.2s;
  grid-template-rows: auto 0fr;
}

.upi2 {
  transition: all 0.3s;
}
.upi,
.credit-card,
#plus {
  transition: all 0.2s;
}
@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
}
