name: CI

on:
  push:
    branches:
      - main
      - develop

jobs:
  build-Matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install Turbo
        run: |
          TURBO_VERSION=$(pnpm script -tv ./pnpm-lock.yaml)
          echo "Installing Turbo $TURBO_VERSION"
          npm install -g "turbo@$TURBO_VERSION"
          turbo --version
      - name: log turbo version
        run: turbo --version

      # - name: Build matrix
      #   id: matrix
      #   run: |
      #     MATRIX=$(turbo ls --affected --output=json | pnpm script -c --allow @backend/ecom @web/ecom-admin)
      #     echo "MATRIX=$MATRIX" >> $GITHUB_OUTPUT

  # build:
  #   needs: detect
  #   if: needs.detect.outputs.matrix != '[]'
  #   runs-on: ubuntu-latest

  #   strategy:
  #     matrix:
  #       app: ${{ fromJson(needs.detect.outputs.matrix) }}

  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Login to DockerHub
  #       uses: docker/login-action@v2
  #       with:
  #         username: ${{ secrets.DOCKER_USERNAME }}
  #         password: ${{ secrets.DOCKER_PASSWORD }}

  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 20

  #     - name: Install pnpm globally
  #       run: npm install -g turbo

  #     - name: Turbo prune
  #       run: |
  #         turbo prune \
  #          --scope=${{ matrix.app.scope }} \
  #          --docker \
  #          --out-dir=pruned

  #     - name: Pull cache image if exists
  #       run: |
  #         IMAGE=${{ secrets.DOCKER_USERNAME }}/${{ matrix.app.image }}
  #         docker pull $IMAGE:latest || true

  #     - name: Docker build
  #       run: |
  #         IMAGE=${{ secrets.DOCKER_USERNAME }}/${{ matrix.app.image }}

  #         docker build \
  #           -f ${{matrix.path}}\\Dockerfile \
  #           -t $IMAGE:${{ github.sha }} \
  #           -t $IMAGE:latest \
  #           --cache-from=$IMAGE:latest \
  #           --build-arg TURBO_TOKEN=${{ secrets.TURBO_TOKEN }} \
  #           --build-arg TURBO_TEAM=${{ secrets.TURBO_TEAM }} \
  #           pruned

  #     - name: Push images
  #       run: |
  #         IMAGE=${{ secrets.DOCKER_USERNAME }}/${{ matrix.app.image }}

  #         docker push $IMAGE:${{ github.sha }}
  #         docker push $IMAGE:latest
