name: CI/CD Monorepo

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app:
          - name: web-admin
            scope: "@web/ecom-admin"
            path: "web/ecom-admin"
            image: "admin"
          # - name: backend
          #   scope: "@backend/ecom"
          #   path: "backend/ecom-api"
          #   image: "backend"

    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM_ID: ${{ secrets.TURBO_TEAM_ID }}
      
    steps:
      # 1️⃣ Checkout repo
      - name: Checkout repo
        uses: actions/checkout@v3

      # 2️⃣ Setup Node & Turbo
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Turbo
        run: npm install -g turbo

      # 3 Turbo prune only the app we want
      - name: Turbo prune app
        run: turbo prune --scope=${{ matrix.app.scope }} --docker --out-dir=out

      #6️⃣ Login to DockerHub
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}


      # 5️⃣ Build Docker image for the pruned app
      - name: Build Docker image
        run: |
          docker build \
            --cache-from ipkiller/${{ matrix.app.image }}:latest \
            -f out/apps/${{ matrix.app.path }}/Dockerfile \
            -t ipkiller/${{ matrix.app.image }}:latest \
            out

    
      # # 7️⃣ Push Docker image
      - name: Push Docker image
        run: docker push ipkiller/${{ matrix.app.image }}:latest
