name: CI

on:
  push:
    branches:
      - main
      - develop

jobs:
  build-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm globally
        run: npm install -g pnpm

      - name: Install Turbo
        run: |
          pnpm script -tv ./pnpm-lock.yaml
          TURBO_VERSION=$(cat turbo.txt)
          echo $TURBO_VERSION
          pnpm install "turbo@$TURBO_VERSION" -w

      - name: Build matrix
        id: matrix
        run: |
          pnpm turbo ls --affected --output=json | pnpm script -c --allow @backend/ecom @web/ecom-admin
          MATRIX=$(cat matrix.txt)
          echo "logging MATRIX: $MATRIX"
          echo "MATRIX=$MATRIX" >> $GITHUB_OUTPUT

  build:
    needs: build-matrix
    runs-on: ubuntu-latest
    if: needs.build-matrix.outputs.matrix != '[]'

    strategy:
      fail-fast: false
      matrix:
        app: ${{ fromJson(needs.build-matrix.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm globally
        run: npm install -g pnpm

      - name: Install Turbo
        run: |
          pnpm script -tv ./pnpm-lock.yaml
          TURBO_VERSION=$(cat turbo.txt)
          echo $TURBO_VERSION
          pnpm install "turbo@$TURBO_VERSION" -w

      - name: Turbo prune
        run: |
          pnpm turbo prune \
           --scope=${{ matrix.app.name }} \
           --docker \
           --out-dir=out

      - name: Pull cache image if exists
        run: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/${{ matrix.app.imageName }}:latest || true

      - name: Docker build
        run: |
          docker build \
            -f ${{matrix.app.path}}/Dockerfile \
            -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.app.imageName }}:${{ github.sha }} \
            -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.app.imageName }}:latest \
            --cache-from=${{ secrets.DOCKER_USERNAME }}/${{ matrix.app.imageName }}:latest \
            --build-arg TURBO_TOKEN=${{ secrets.TURBO_TOKEN }} \
            --build-arg TURBO_TEAM=${{ secrets.TURBO_TEAM }} \
            out

      - name: Push images
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ matrix.app.imageName}}:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ matrix.app.imageName }}:latest
